@charset "utf-8";

.event-div {
    padding: 5px;
}

.event-div > .container-fluid {
    margin: 5px;
    padding: 0px;
    width: 100%;
}

.event-div > .event-images {
    margin: 0 auto;
}

.event-div > .event-img {
    border: 2px solid #292929;
    display: inline-block;
    height: 360px;
    width: 480px;
}

.event-div > .event-img img{
    max-height: 100%;
    width: auto;
}

.event-div h3 {
    color: #1F98BB;
    margin: 0px;
    margin-bottom: 10px;
}

#j_idt24 {
    margin: 0px;
}