@charset "utf-8";

body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #DCDCDC;
}

footer {
    background-color: #F9F9F9;
    height: 50px; /* Die gleiche Höhe wie die Navigation */
    position: relative;
}

footer p {
    color: #5F524E;
    text-align: center;
    font-size: 12px;
    padding-bottom: 17px;
    padding-top: 15px;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

li a {
    background-color: #F9F9F9;
    color: #5F524E;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    padding: 20px 25px;
    transition: 0.2s linear;

}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #F9F9F9 !important;
    text-decoration: none;
    background-color:#1F98BB !important;
    background-image: none !important;
}

p {
    font-size: 14px;
    margin: 0px;
}



/* ul {
    background-color: #F9F9F9;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    height: 55px;
} */

.align-right {
    float: right;
}

.content {
    height: calc(100vh - 122px); /* 100vh - 50x2 (Höhe von Nav und Footer) - 20 (margin von .content) */
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 10px;
    position: relative;
} 

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #F9F9F9 !important;
    text-decoration: none;
    background-color:#1F98BB !important;
    background-image: none !important;
}


#container {
    background-color: #F0F0F0;
    position: relative;
    /* width: 1100px; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 400px;
    font-size: 13px;
}